{% extends "base.html" %}

{% block title %}
Record Adding
{% endblock title %}

{% block content %}
<h1> Record Adding </h1>

<form method="post" class="form-control">
    <input type="text" name="title" palceholder="Enter the title of the article" class="form-control">
    <br>
    <input type="text" name="text" palceholder="Enter the text of the article" class="form-control">
    <br>
    <button class="btn btn-success" type="submit">Create</button>
</form>

{% endblock content %}